temp {
    color: #BDFA3E;
    color: #DB7A12;
    color: #ED13EA;
    color: #066AD6;
    color: #19BF19;
    color: #F3CD20;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #101010;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #19BF19;
}

.nav-link:hover {
    color: #DB7A12;
}

.nav-logo {
    width: 200px;
}

.profile {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.landing{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101010;
    font-size: 100px;
}

#aboutMain {
    color: #ffffff;
    background-color: #DB7A12 !important;
    z-index: 2;
    height: auto;
    padding: 7% 0 5% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutH1 {
    height: auto;
    width: auto;
    margin-left: 5%;
    text-align: left;
}

#aboutText {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutText div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-right: 5%;
    margin-left: 5%;
}

.pt-5 {
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: calc(0.9vw + 0.9vh + 0.5vmin);
    text-align: justify;
}

#aboutImg {
    max-width: 70%;
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 990px) {
    #aboutH1 {
        height: auto;
        max-width: 40%;
        margin-top: 5%;
        padding-left: 5%;
    }

    #aboutText {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutText {
        width: 100%;
        font-size: 20px;
        padding: 0px;
        flex-direction: column-reverse;
    }

    div p {
        font-size: 4.1vw;
    }

    #aboutImg {
        width: 70%;
    }

    #aboutAbout {
        margin-bottom: 5%;
    }
}