/* Color Pallet 
light green - #BDFA3E
orange- #DB7A12
pink-#ED13EA
blue - #066AD6
dark- green - #19BF19 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Roboto", "Helvetica Neue", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

:root {
    /* default nav colors */
    --nav-background-color: #066AD6;
    --nav-color: #f2f2f2;
    /* default nav active colors */
    --nav-active-color: #000;
    --nav-active-background-color: #19BF19;
    /* default hover color */
    --link-background-color: #DB7A12;
    --link-color: #810b7f;
}

body {
    height: 100vh;
    background-position: center;
    margin-top: 70px;
}

/* for header ans nav bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--nav-background-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--nav-color);
    text-decoration: none;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--nav-color);
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background-color: var(--link-background-color);
    color: var(--link-color);
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: var(--nav-color);
    cursor: pointer;
    display: none;
}

.nav-active {
    color: var(--nav-active-color) !important;
    background-color: var(--nav-active-background-color)
}

/* for drop down menus */
.sub_menu {
    display: none;
}

.navbar ul li:hover .sub_menu {
    display: block;
    position: absolute;
    background: var(--nav-background-color);
}

.navbar ul li:hover .sub_menu ul {
    display: block;
    margin: 10px;
}

.navbar ul li:hover .sub_menu ul li {
    padding: 10px;
    border-bottom: 1px dotted white;
    border-radius: 5px;
    text-align: left;
    box-sizing: content-box !important;
    justify-content: left;
}

.sub_menu ul:hover {
    display: block;
    margin: 10px;
    background: var(--link-background-color);
    color: var(--lnik-color);
    width: 100%;
    border-radius: 3px;
}

.sub_menu ul li:hover {
    margin: 10px;
    border-radius: 3px;
    background: var(--link-background-color);
    color: var(--link-color);
}

/* responsive code for tablet and mobile devices */
@media (max-width: 1045px) {
    header {
        padding: 10px;
        font-size: 12px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--nav-background-color);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    /* menu responsive open and close code */
    #menu-bar:checked~.navbar {
        display: initial;
    }

    /* sub_menu / dropdown menu responsive code */
    .sub_menu {
        display: none;
        box-sizing: content-box !important;
    }

    .navbar ul li:hover .sub_menu {
        display: flex;
        position: relative;
        background: var(--nav-background-color);
        margin-top: 10px;
        margin-left: -5px;
    }

    .navbar ul li:hover .sub_menu ul {
        display: flex;
        flex-direction: column;
        margin: 0 50px;
    }

    .navbar ul li:hover .sub_menu ul li {
        padding: 10px;
        border-bottom: 1px dotted white;
        border-radius: 5px;
        text-align: left;
    }

    .sub_menu ul:hover {
        margin: 10px;
        background: var(--nav-background-color);
        color: var(--nav-color);
        width: 100%;
        border-radius: 3px;
    }

    .sub_menu ul li:hover {
        margin: 10px;
        width: 100%;
        background: var(--link-background-color);
        color: var(--link-color);
        border-radius: 3px;
    }
}